exportPattern("^[[:alpha:]]+")

export(modDream)

import(foreach)
import(ggplot2)
import(limma)
import(lme4)

import(DESeq2)
import(zinbwave)
import(edgeR)
import(lme4)
import(iterators)
import(pbkrtest) 
import(foreach)
import(variancePartition)
import(stats)
import(plyr)
import(dplyr)
